/* reset */

* {
    box-sizing: border-box;
    font-family: "figtree", sans-serif;
}

body  {
    background-color: var(--clr-backround);
    max-width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

/* style guide */

:root {
    /* colors backround */
    --clr-backround: #f4d04e;
    --clr-card-backround: #fff;

    /* colors text */
    --clr-header-950: #121212;
    --clr-text-500: #6b6b6b;
    --clr-date-950: #121212;
    --clr-avatar-950: #121212;
    --clr-button-950: #121212;

    /* font size */
    --fs-header-24px: 1.5rem;
    --fs-text-16px: 1rem;
    --fs-date-14px: 0.87rem;
    --fs-avatar-14px: 0.87rem;
    --fs-button-14px: 1rem;

    /* font weight */
    --fw-header-xb: 800;
    --fw-text-n: 500;
    --fw-date-n: 500;
    --fw-avatar-xb: 800;
    --fw-button-xb: 800;

    /* spacing */
    --sp-24px: 24px;
    --sp-12px: 12px;
    --sp-8px: 8px;
    --sp-4px: 4px;

    /* line height % */
    --lh-lg: 1.5;

}

/* utilities */

.container {
    background-color: var(--clr-card-backround);
    box-shadow: 8px 8px black;
    border-radius: 20px;
    border: inset 1px #121212;
    max-width: 384px;
    margin-inline: auto;
    padding: var(--sp-24px);
        display: flex;
        flex-direction: column;
}

.card-action {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: var(--sp-24px);
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-avatar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--sp-12px);
}

/* styles */

.card-icon {
    border-radius: 10px;
}

.card-btn {
    background-color: var(--clr-backround);
    font-size: var(--fs-button-14px);
    font-weight: var(--fw-button-xb);
    color: var(--clr-button-950);
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
}

.card-date {
    font-size: var(--fs-date-14px);
    font-weight: var(--fw-date-n);
    line-height: var(--lh-lg);
    color: var(--clr-date-950);
    padding-top:var(--sp-12px);
    margin: 0;
}

.card-header {
    font-size: var(--fs-header-24px);
    font-weight: var(--fw-header-xb);
    line-height: var(--lh-lg);
    color: var(--clr-header-950);
    padding-top: var(--sp-12px);
    margin: 0;
}

.card-text {
    font-size: var(--fs-text-16px);
    font-weight: var(--fw-text-n);
    line-height: var(--lh-lg);
    color: var(--clr-text-500);
    padding-top: var(--sp-12px);
    margin: 0;
}

.card-avatar {
    padding-top: var(--sp-24px);
}

.card-avatar-name {
    font-size: var(--fs-avatar-14px);
    font-weight: var(--fw-avatar-xb);
    line-height: var(--lh-lg);
    color: var(--clr-avatar-950);
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0px;

} 

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* actions */

.container .card-details .card-header:hover {
        color: var(--clr-backround);
}

.card-btn:hover{
    background-color: var(--clr-avatar-950);
    color: var(--clr-backround);
}

.container:hover {
    cursor: pointer;
}

@media (width <= 357) {
    .container {
        max-width: 327px;
    }
}
